* {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 10px;
}

table, tr, th, td {
	
}

table {
	margin: 20px;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: solid 1px black;
}

.head-bar {
	text-align: right;
	margin: 0;
	padding: 0;
}


.jstree-themeicon-custom{
    background-size: 24px 24px !important;
}




#jstree {
	display: inline-block;
}

.jstree-anchor {
	width: 100%;
}

.status-icons {
	float: right;
	height: 24px;
}

.clear {
	clear: both;
}
